.main-section,
.portfolio-section,
.resume-section,
.page-not-found-section {
    height: $default-body-height;
    margin-top: $default-nav-height;
    margin-bottom: $default-footer-height;
    background-image: url(../images/pexels-brady-knoll-3369571.jpg);
    background-position: center;
    background-size: cover;
}


.portfolio-section,
.resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
}