@import "variables";

@media (orientation: landscape) and (min-height: 320px) {
    .hero-content-container {
        max-height: 75vh;
    }

    .navbar {
        height: $XL-nav-height;
    }

    .footer {
        height: $XL-footer-height;
    }

    .main-section,
    .portfolio-section,
    .page-not-found-section {
        height: $XL-body-height;
        margin-top: $XL-nav-height;
        margin-bottom: $XL-footer-height;
    }

    .resume-section {
        height: auto;
    }
}

@media (orientation: landscape) and (min-height: 500px) {
    .navbar {
        height: $default-nav-height;
    }

    .footer {
        height: $default-footer-height;
    }

    .main-section,
    .portfolio-section,
    .page-not-found-section {
        height: $default-body-height;
        margin-top: $default-nav-height;
        margin-bottom: $default-footer-height;
    }

    .resume-section {
        height: $default-body-height;
    }
}

@media (orientation: landscape) and (min-height: 1020px) {
    .navbar {
        height: $large-nav-height;
    }

    .footer {
        height: $large-footer-height;
    }

    .main-section,
    .portfolio-section,
    .resume-section,
    .page-not-found-section {
        height: $large-body-height;
        margin-top: $large-nav-height;
        margin-bottom: $large-footer-height;
    }


}