@import "variables";

// NAVBAR AND FOOTER

.navbar,
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background-color: $secondary-color;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.navbar {
    top: 0;
    height: $default-nav-height;
}

.footer {
    bottom: 0;
    height: $default-footer-height;
}

.social-media-icons-landscape {
    display: block;

}

.profile-links {
    margin: 0 10px
}

.navlink {
    margin: 0 10px;
    text-decoration: none;
}

.nav-small-screen {
    display: none;
}