@import "variables";

// NAVBAR AND FOOTER

.navbar,
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background-color: $secondary-color;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.navbar {
    top: 0;
    height: $default-nav-height;
}

.footer {
    bottom: 0;
    height: $default-footer-height;
}

.social-media-icons-landscape {
    display: block;

}

.profile-links {
    margin: 0 10px
}

.navlink {
    margin: 0 10px;
    text-decoration: none;
}

.nav-small-screens {
    display: none;
}

.nav-links-sm-screen {
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin-top: $large-nav-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.95;
    background-color: $secondary-color;
    transition: all .3s linear;
}

.nav-link-sm-item {
    height: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    transition: all .3s linear;
}

.show-nav {
    height: $large-body-height;
}