//Variables
//Front

$main-front:'Montserrat',
sans-serif;
//Color

$main-color: #414042;
$secondary-color: #141414;
$font-color: #b1b4ba;
$accent-color: #74ccf4;

//Font-size
$default-font-size: 16px;
$font-size-xxxs: 0.5rem;
$font-size-xxs: 0.6rem;
$font-size-xs: 0.7rem;
$font-size-sm: 0.8rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;

//Height
// nav
$XL-nav-height: 10vh;
$default-nav-height: 7vh;
$large-nav-height: 5vh;
$medium-nav-height: 4vh;
$small-nav-height: 3vh;
// footer 
$XL-footer-height: 10vh;
$default-footer-height: 6vh;
$large-footer-height: 4vh;
$medium-footer-height: 4vh;
$small-footer-height: 3vh;
// Body
$XL-body-height: 80vh;
$default-body-height: 87vh;
$large-body-height: 91vh;
$medium-body-height: 92vh;
$small-body-height: 94vh;